
body{
   /* font-family: "Arial";*/
    /*background-color: black;
    color: white;*/
}

.wd-search-icon{
    bottom: 2px;
    left:15px;
    font-size: 20px;
    color: gray;
}

.wd-search-gear{
    font-size: 20px;
    color: #0c63e4;
}



.wd-icon-gear{
    margin-right: 1px;
    float: right;
}

.wd-follow{
    margin-right: -30px;
}






